{% if messages %}
    {% for message in messages %}
        <div class="message {{message.tags}}">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="title-content container">
    <h1>Crie suas receitas</h1>
</div>


<div class="user-recipe-container">
    <form action="{% url 'authors:edit' r.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-content form-content-grid">
            {% for field in form %}
                <div class="form-group">
                    <label>{{field.label}}</label>
                    {% if field.name == 'image' and field.value.url %}
                        <div class="cover-container">
                            <img src="{{ field.value.url }}" alt="Imagem">
                        </div>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                </div>
                <div class="text-errors">
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        <div class="form-content form-content-grid">
            <div class="form-group">
                <button class="button-send" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>