


<div class="main-content container">
    <div>
      <h1>Cadastre-se</h1>
    </div>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-content form-content-grid">
            {% for entry in form %}
                <div class="form-group">
                    <p>{{ entry.label }}</p>
                    <p>{{entry}}</p>
                </div>
            {% endfor %}
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>