<main class="main-content-container">
    <div class="main-content main-content-list container">
        {% if not recipes %}
            <div class="zero-recipe-container">
                <h1>Nenhum resultado encontrado!</h1>
            </div>
        {% else %}
            {% for recipe in recipes %}
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="{{ recipe.image.thumb.url }}" alt="image">
                </div>


                <div class="recipe-title-container">
                    <h2 class="recipe-title">{{ recipe.title }}</h2>
                </div>
                <div class="recipe-author">

                    {% if recipe.author.first_name %}
                    <span class="recipe-author-item">
                        <i class="fas fa-user"></i>
                        {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                    </span>
                    {% else %}
                    <span class="recipe-author-item">
                        <i class="fas fa-user"></i>
                        {{ recipe.author }}
                    </span>
                    {% endif %}

                    <span class="recipe-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        {{ recipe.create }}
                    </span>
                    <span class="recipe-author-item">
                        <a href="{% url 'cat' recipe.recipe_category.pk %}">
                            <i class="fas fa-layer-group"></i>
                            <span>{{ recipe.recipe_category }}</span>
                        </a>
                    </span>
                </div>
                <div class="recipe-content">
                    <br>
                    <h3>Ingredientes</h3>
                    <p>{{ recipe.description }}
                    </p>
                </div>

                <div class="recipe-meta-container">
                    <div class="recipe-meta recipe-preparation">
                        <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
                        <div class="recipe-meta-text">
                            {{ recipe.time_recipe }} Minutos
                        </div>
                    </div>
                    <div class="recipe-meta recipe-servings">
                        <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                        <div class="recipe-meta-text">
                            {{recipe.order}} Porções
                        </div>
                    </div>
                </div>
                <footer class="recipe-footer">
                    <a class="recipe-read-more button button-dark button-full-width" href="{% url 'rec' recipe.pk %}">
                        <i class="fas fa-eye"></i>
                        ver mais...
                    </a>
                </footer>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
